In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'/Users/sofiakazeko/Jupiter/Dec-2024 Instacart Basket Analysis'

In [3]:
#3 import the df_ords_prods_merge
df_ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_prods_merge.pkl'))

In [5]:
df = df_ords_prods_merge[:1000000]

In [10]:
df.shape

(1000000, 19)

In [11]:
df.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_2,price_range
0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0,both,Mid-range product
1,0,2539329,1,1,2,8,NaN,True,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product
2,0,2539329,1,1,2,8,NaN,True,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product
3,0,2539329,1,1,2,8,NaN,True,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product
4,0,2539329,1,1,2,8,NaN,True,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product

In [6]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/rs/zynz_jf95m96kh0kp832ghnr0000gn/T/ipykernel_70482/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna=False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [9]:
df['prices'].max()

99999.0

In [12]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/rs/zynz_jf95m96kh0kp832ghnr0000gn/T/ipykernel_70482/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     673183
Low-range product     314392
High-range product     12425
Name: count, dtype: int64

In [17]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [21]:
# printing the frequency of the “orders_day_of_week”
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [22]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [24]:
df_ords_prods_merge ['busiest_day']= result

In [25]:
df_ords_prods_merge ['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Tasks 

2. create a new column showing 2 busiest days and 2 least busy days

In [26]:
# Create a new column using .loc 
df_ords_prods_merge['busiest_day'] = "Regularly busy"

In [27]:
df_ords_prods_merge.loc[df_ords_prods_merge['orders_day_of_week'].isin([0, 1]), 'busiest_day'] = "Busiest day"

In [28]:
df_ords_prods_merge.loc[df_ords_prods_merge['orders_day_of_week'].isin([3, 4]), 'busiest_day'] = "Least busy"

In [29]:
print(df_ords_prods_merge[['orders_day_of_week', 'busiest_day']])

          orders_day_of_week     busiest_day
0                          2  Regularly busy
1                          2  Regularly busy
2                          2  Regularly busy
3                          2  Regularly busy
4                          2  Regularly busy
...                      ...             ...
32404854                   1     Busiest day
32404855                   1     Busiest day
32404856                   1     Busiest day
32404857                   1     Busiest day
32404858                   1     Busiest day

[32404859 rows x 2 columns]

In [30]:
df_ords_prods_merge ['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

# Observations:
The busiest_day column is correctly labeled based on the orders_day_of_week and frequency results.
"Busiest day" is assigned to Sunday (0) and Monday (1).
"Least busy" is assigned to Wednesday (3) and Thursday (4).
Other days are labeled as "Regularly busy".
The labels are consistent and there are no errors.

In [31]:
df_ords_prods_merge ['order_time'].value_counts(dropna=False)

order_time
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

# Task 4 Create a new column called “busiest_period_of_day.”  identify the busiest hours of the day labeled “Most orders,” “Average orders,” and “Fewest orders.”

In [33]:
# Create a new column 'busiest_period_of_day' with default value
df_ords_prods_merge['busiest_period_of_day'] = 'Average orders'

In [37]:
df_ords_prods_merge.loc[df_ords_prods_merge['order_time'].isin([10, 11,14,15,13,12,16,9,17]), 'busiest_period_of_day'] = 'Most orders'

In [38]:
df_ords_prods_merge.loc[df_ords_prods_merge['order_time'].isin([3,4,2,5,1,0,6]), 'busiest_period_of_day'] = 'Fewest orders'

In [39]:
print(df_ords_prods_merge[['order_time', 'busiest_period_of_day']])

          order_time busiest_period_of_day
0                  8        Average orders
1                  8        Average orders
2                  8        Average orders
3                  8        Average orders
4                  8        Average orders
...              ...                   ...
32404854          12           Most orders
32404855          12           Most orders
32404856          12           Most orders
32404857          12           Most orders
32404858          12           Most orders

[32404859 rows x 2 columns]

In [40]:
df_ords_prods_merge ['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       23205725
Average orders     8312313
Fewest orders       886821
Name: count, dtype: int64

# Comments
I divided the busiest_period_of_day in 3 groups (order_time_counts < 300000, > 300000 and < 2000000, and > 2000000)

In [41]:
df_ords_prods_merge .head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,...,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_2,price_range_loc,busiest_day,busiest_period_of_day
0,0,2539329,1,1,2,8,NaN,True,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,0,2539329,1,1,2,8,NaN,True,14084,2,...,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders
2,0,2539329,1,1,2,8,NaN,True,12427,3,...,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders
3,0,2539329,1,1,2,8,NaN,True,26088,4,...,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders
4,0,2539329,1,1,2,8,NaN,True,26405,5,...,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders

In [43]:
df_ords_prods_merge = df_ords_prods_merge.drop(['Unnamed: 0_x','_merge', 'merge_2','Unnamed: 0_y'], axis=1)

In [46]:
print(df_ords_prods_merge.dtypes)

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_time                  int64
days_since_prior_order    float64
new_customer                 bool
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
price_range_loc            object
busiest_day                object
busiest_period_of_day      object
dtype: object

In [48]:
print(df_ords_prods_merge.memory_usage())

Index                           132
order_id                  259238872
user_id                   259238872
order_number              259238872
orders_day_of_week        259238872
order_time                259238872
days_since_prior_order    259238872
new_customer               32404859
product_id                259238872
add_to_cart_order         259238872
reordered                 259238872
product_name              259238872
aisle_id                  259238872
department_id             259238872
prices                    259238872
price_range_loc           259238872
busiest_day               259238872
busiest_period_of_day     259238872
dtype: int64

In [53]:
# Convert integer columns
df_ords_prods_merge['order_id'] = df_ords_prods_merge['order_id'].astype('int32')
df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('int32')
df_ords_prods_merge['order_number'] = df_ords_prods_merge['order_number'].astype('int32')
df_ords_prods_merge['orders_day_of_week'] = df_ords_prods_merge['orders_day_of_week'].astype('int8')  
df_ords_prods_merge['order_time'] = df_ords_prods_merge['order_time'].astype('int8')
df_ords_prods_merge['product_id'] = df_ords_prods_merge['product_id'].astype('int32')
df_ords_prods_merge['add_to_cart_order'] = df_ords_prods_merge['add_to_cart_order'].astype('int32') 
df_ords_prods_merge['reordered'] = df_ords_prods_merge['reordered'].astype('int32') 
df_ords_prods_merge['aisle_id'] = df_ords_prods_merge['aisle_id'].astype('int32') 
df_ords_prods_merge['department_id'] = df_ords_prods_merge['department_id'].astype('int32')

In [50]:
# Convert float columns
df_ords_prods_merge['days_since_prior_order'] = df_ords_prods_merge['days_since_prior_order'].astype('float32')
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].astype('float32')

In [54]:
print(df_ords_prods_merge.memory_usage())

Index                           132
order_id                  129619436
user_id                   129619436
order_number              129619436
orders_day_of_week         32404859
order_time                 32404859
days_since_prior_order    129619436
new_customer               32404859
product_id                129619436
add_to_cart_order         129619436
reordered                 129619436
product_name              259238872
aisle_id                  129619436
department_id             129619436
prices                    129619436
price_range_loc           259238872
busiest_day               259238872
busiest_period_of_day     259238872
dtype: int64

In [56]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods_merge1.pkl'))